.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
}

.search-bar {
  padding: 10px;
}

.folder-children {
  overflow: hidden;
  max-height: 0;
  transition: all 1s;
}

.folder-open {
  max-height: 1000px; /* Adjust as needed for your content */
}

.folder-closed {
  max-height: 0;
}

.folders-wrapper {
  display: flex;
 column-gap: 50px;
}

.node {
  cursor: pointer;
}

.browser-col {
  width: 300px;
}